<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>drawer</title>
    <style type="text/css">
        #drawer {
            width: 100%;
            height: 100%;
            border: dashed 1px grey;
            background-image:
                url('https://s.cn.bing.net/th?id=OHR.ZebraTrio_ZH-CN5902552401_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&qlt=50');
        }
    </style>
</head>

<body>
    <canvas id="drawer"></canvas>
</body>
<script>
    // https://juejin.cn/post/7071117494836002830#heading-21
    // https://github.com/nojsja/javascript-learning/blob/master/canvas/demo-drag-scale-rect.html
    /* -------------- canvas 画板类 -------------- */
    class Drawer {
        constructor(selector) {
            this.polygons = []; // 是每个需要画的图形的基础数据-
            this.me = document.querySelector(selector); // 获取dom-
            this.ctx = null; // canvas上下文-
            this.target = null; // 单点操作目标

            this.me.onmousedown = this.onMouseDown;
            this.me.onmouseup = this.onMouseUp;
            this.me.onmousemove = this.onMouseMove;

            if (this.me.getContext) {
                this.ctx = this.me.getContext('2d');
                this.resize();
            } else {
                throw new Error('canvas context:2d is not available!');
            }
        }

        onResize() {
            this.resize();
            this.clear();
            this.render();
        }

        resize() {
            const rect = this.me.getBoundingClientRect();
            this.me.width = rect.width * window.devicePixelRatio;
            this.me.height = rect.height * window.devicePixelRatio;
            this.ctx.scale(window.devicePixelRatio, window.devicePixelRatio);
        }

        clear() {
            const rect = this.me.getBoundingClientRect();
            this.ctx.clearRect(0, 0, this.me.width, this.me.height); // 彻底清空整个画板了-
        }

        render() {
            this.polygons.forEach(polygon => polygon.draw());
        }

        addPolygon(polygon) {
            this.polygons.push(polygon);
            polygon.attach(this.ctx); // 在节点上存储上下文
            polygon.draw(); // 单个节点去渲染
        }
        // 删除可以新增一个,这里有属性.
        removePolygon(polygon) {
            const index = this.polygons.indexOf(polygon);
            if (index !== -1) {
                this.polygons[index].destroy();
                this.polygons[index].detach();
                this.polygons.splice(index, 1);
                this.render()
            }
        }

        onMouseDown = (event) => {
            const point = DrawHelper.getMousePosition(this.me, event);
            for (let i = 0; i < this.polygons.length; i++) {
                if (this.polygons[i].isInCornerPath(point) && this.polygons[i].scalable) {
                    console.log('corn')
                    this.polygons[i].scaleStart(point);
                    this.target = this.polygons[i];
                    break;
                }
                if (this.polygons[i].isInPath(point) && this.polygons[i].dragable) {
                    console.log('path')
                    this.polygons[i].dragStart(point);
                    this.target = this.polygons[i];
                    break;
                }
                if (this.polygons[i].isInDelete(point) && this.polygons[i].deleteable) {
                    console.log('path')
                    // this.polygons[i].dragStart(point);
                    // this.target = this.polygons[i];
                    this.removePolygon(this.polygons[i])
                    break;
                }
            }
        }

        onMouseMove = (event) => {
            const point = DrawHelper.getMousePosition(this.me, event);
            if (!this.target) return;
            switch (this.target.status) {
                case 'draging':
                    this.target.drag(point)
                    break;
                case 'scaling':
                    this.target.scale(point)
                    break;
                default:
                    break;
            }
        }

        onMouseUp = (event) => {
            const point = DrawHelper.getMousePosition(this.me, event);
            if (!this.target) return;
            switch (this.target.status) {
                case 'draging':
                    // this.target.dragEnd(point)
                    this.render()
                    break;
                case 'scaling':
                    // this.target.scaleEnd(point)
                    this.render()

                    break;
                default:
                    break;
            }
            this.target = null;
        }
    }

    /* -------------- 绘制辅助类 -------------- */
    class DrawHelper {
        // 执行绘制,    -绘画4个点-
        static drawPoints(ctx, points) { // -上下文 和 第一个参数,数组才会传递过来,做成定位点定位点-
            const firstPoint = points[0]; // 
            ctx.strokeStyle = 'black';
            ctx.beginPath();

            ctx.moveTo(firstPoint.x, firstPoint.y);
            points.forEach(point => {
                ctx.lineTo(point.x, point.y);
            });

            ctx.lineTo(firstPoint.x, firstPoint.y);
            ctx.stroke();
        }
        static drawDelPoints(ctx, points) { // -上下文 和 第一个参数,数组才会传递过来,做成定位点定位点-
            const firstPoint = points[0]; // 
            ctx.strokeStyle = 'black';
            ctx.beginPath();

            ctx.moveTo(firstPoint.x, firstPoint.y);
            points.forEach(point => {
                ctx.lineTo(point.x, point.y);
            });

            ctx.lineTo(firstPoint.x, firstPoint.y);
            ctx.stroke();

            // 删除中间内容
            DrawHelper.clearRect(ctx, points[0].x + 1, points[0].y + 1, points[1].x - points[0].x - 2,
                points[2].y - points[0].y - 2);

         /*    // 中间画个x
            const firstPoint2 = points[0]; //
            ctx.strokeStyle = 'blue';
            ctx.beginPath();
            ctx.moveTo(firstPoint.x + 3, firstPoint.y - 3);
            ctx.lineTo(points[2].x - 3, points[2].y - 3);




            ctx.stroke();
            //    ctx.lineTo(points[1].x-3, points[1].y-3);
            //    ctx.lineTo(points[3].x+3, points[3].y-3); */
        }

        // 获取鼠标位置
        static getMousePosition(canvas, event) {
            const rect = canvas.getBoundingClientRect();
            const x = event.clientX - rect.left * (canvas.width / rect.width);
            const y = event.clientY - rect.top * (canvas.height / rect.height);

            return {
                x,
                y
            };
        }

        // 清除矩形区域
        static clearRect(ctx, x, y, width, height) {
            ctx.clearRect(x, y, width, height);
        }

        // 检查参数 geometry
        static checkGeometry(geometry) { // 就是轮训传入值,每个都不能小于0
            const keys = Object.keys(geometry);
            for (let i = 0; i < keys.length; i++) {
                if (geometry[keys[i]] < 0) {
                    throw new Error(`geometry: value of ${keys[i]} is no less than 0!`);
                }
            }
            return geometry;
        }

        static drawRect() {}
    }

    /* -------------- 几何图形类 -------------- */
    class Polygon {
        dragable = false
        scalable = false
        deleteable = false
        status = 'pending'
        prePoint = null
        constructor() {
            this.ctx = null;
        }

        // draw() {} // -被别人继承了,会优先使用别人自己身上的.
        // destroy() {} // -被别人继承了,会优先使用别人自己身上的.

        attach(ctx) {
            this.ctx = ctx;
        }
        detach() {
            this.ctx = null;
        }

        // isInPath(point) {// -被别人继承了,会优先使用别人自己身上的.
        //     return false
        // }
        // isInCornerPath(point) {// -被别人继承了,会优先使用别人自己身上的.
        //     return false
        // }

        scaleStart(point) {
            this.status = 'scaling';
            this.prePoint = point;
        }
        scale(point) {
            this.destroy();
            this.update(point);
            this.draw();
        }
        scaleEnd(point) {
            this.status = 'pending';
            this.destroy();
            this.update(point);
            this.draw();
            this.prePoint = null;
        }

        dragStart(point) {
            this.status = 'draging';
            this.prePoint = point;
        }
        drag(point) {
            // console.log(point)
            // console.log(this.draw)
            this.destroy();
            this.update(point);
            this.draw();
        }
        dragEnd(point) {
            this.status = 'pending';
            this.destroy();
            this.update(point);
            this.draw();
            this.prePoint = null;
        }

    }

    /* -------------- 可拖动和缩放矩形类 -------------- */
    class DragableAndScalableRect extends Polygon {
        minWidth = 0
        minHeight = 0
        constructor(geometry) {
            super();
            this.geometry = DrawHelper.checkGeometry(geometry);
            this.minWidth = 'minWidth' in geometry ? geometry.minWidth : this.minWidth;
            this.minHeight = 'minHeight' in geometry ? geometry.minHeight : this.minHeight;
            this.points = this.getPoints();
            this.cornerPoint = null;
            this.dragable = true;
            this.scalable = true;
            this.deleteable = true;
        }

        // 判断点击位置是否在图形内部
        isInPath(point, geometry) {
            const {
                x,
                y,
                width,
                height
            } = geometry || this.geometry;
            return (point.x >= x - width / 2) &&
                (point.x <= x + width / 2) &&
                (point.y >= y - height / 2) &&
                (point.y <= y + height / 2);
        }

        // 判断点击位置是否在四个角
        isInCornerPath(point) {
            console.log(point)
            const [rectPoints, ...cornerPoints] = this.points;
            console.log(rectPoints)
            console.log(cornerPoints)
            const {
                cornerWidth
            } = this.geometry;
            for (let i = 0; i < rectPoints.length; i++) {
                if (
                    this.isInPath(
                        point, {
                            ...rectPoints[i],
                            width: cornerWidth,
                            height: cornerWidth
                        })
                ) {
                    this.cornerPoint = i;
                    return true;
                }
            }
            this.cornerPoint = null;
            return false;
        }
        isInDelete(point) {
            console.log(point)
            // const [rectPoints, rightTopDelRect] = this.points;

            // const {
            //     cornerWidth
            // } = this.geometry;
            // for (let i = 0; i < rectPoints.length; i++) {
            //     if (
            //         this.isInPath(
            //             point, {
            //                 ...rectPoints[i],
            //                 width: cornerWidth,
            //                 height: cornerWidth
            //             })
            //     ) {
            //         this.cornerPoint = i;
            //         return true;
            //     }
            // }
            // this.cornerPoint = null;
            // return false;
            return true
        }

        // 根据点阵绘制图形
        draw() {
            console.log(this.points)
            this.points.forEach((pointArray, index) => {
                if (Array.isArray(pointArray)) {
                    if (index == 5) {
                        // 换个划线方式,然后画个x. 
                        // DrawHelper.drawDelPoints(this.ctx, pointArray);
                    } else {
                        DrawHelper.drawPoints(this.ctx, pointArray);
                    }

                }
            });
        }

        // 销毁图形
        destroy() {
            const {
                width,
                height,
                cornerWidth
            } = this.geometry;
            const [rectPoints, ...cornerPoints] = this.points;
            const leftTopPoint = rectPoints[0];
            DrawHelper.clearRect(this.ctx, leftTopPoint.x - 1, leftTopPoint.y - 1, width + 2, height + 2);
            cornerPoints.forEach((cPoint) => {
                DrawHelper.clearRect(this.ctx, cPoint[0].x - 1, cPoint[0].y - 1, cornerWidth + 2,
                    cornerWidth + 2);
            });
        }

        updateWhenDraging(point) {
            const {
                prePoint
            } = this;
            this.geometry.x = this.geometry.x + (point.x - prePoint.x);
            this.geometry.y = this.geometry.y + (point.y - prePoint.y);
            this.points = this.getPoints();
            this.prePoint = point;
        }

        updateWhenScaling(point) {
            const {
                prePoint
            } = this;
            const xDistance = (point.x - prePoint.x);
            const yDistance = (point.y - prePoint.y);
            const newGeometry = {
                ...this.geometry
            };

            switch (this.cornerPoint) {
                case 0:
                    newGeometry.x = this.geometry.x + (xDistance) / 2;
                    newGeometry.y = this.geometry.y + (yDistance) / 2;
                    newGeometry.width = this.geometry.width - (xDistance);
                    newGeometry.height = this.geometry.height - (yDistance);
                    break;
                case 1:
                    newGeometry.x = this.geometry.x + (xDistance) / 2;
                    newGeometry.y = this.geometry.y + (yDistance) / 2;
                    newGeometry.width = this.geometry.width + (xDistance);
                    newGeometry.height = this.geometry.height - (yDistance);
                    break;
                case 2:
                    newGeometry.x = this.geometry.x + (xDistance) / 2;
                    newGeometry.y = this.geometry.y + (yDistance) / 2;
                    newGeometry.width = this.geometry.width + (xDistance);
                    newGeometry.height = this.geometry.height + (yDistance);
                    break;
                case 3:
                    newGeometry.x = this.geometry.x + (xDistance) / 2;
                    newGeometry.y = this.geometry.y + (yDistance) / 2;
                    newGeometry.width = this.geometry.width - (xDistance);
                    newGeometry.height = this.geometry.height + (yDistance);
                    break;
                default:
                    return;
            }

            if (
                newGeometry.width < this.minWidth ||
                newGeometry.height < this.minHeight
            ) {
                return;
            }
            this.geometry = newGeometry;
            this.points = this.getPoints();
            this.prePoint = point;
        }

        // 实时更新点阵坐标
        update(point) {
            switch (this.status) {
                case 'draging':
                    this.updateWhenDraging(point);
                    break;
                case 'scaling':
                    this.updateWhenScaling(point);
                    break;
                default:
                    break;
            }
        }

        // 获取矩形四个角的位置 - 根据x,y,width,height 计算出来
        getPointFromGeometry(x, y, width, height) {
            return {
                leftTopPoint: {
                    x: x - width / 2,
                    y: y - height / 2
                },
                rightTopPoint: {
                    x: x + width / 2,
                    y: y - height / 2
                },
                leftBottomPoint: {
                    x: x - width / 2,
                    y: y + height / 2
                },
                rightBottomPoint: {
                    x: x + width / 2,
                    y: y + height / 2
                }
            };
        }

        // 获取几何图形点阵 , 感觉是有5个值. 其中第一个数组是4个点位.  后面4个参数是四个形状
        getPoints() {
            const {
                x,
                y,
                width,
                height,
                cornerWidth
            } = this.geometry;
            const rectPosition = this.getPointFromGeometry(x, y, width, height);
            const leftTopPoint = rectPosition.leftTopPoint;
            const rightTopPoint = rectPosition.rightTopPoint;
            const leftBottomPoint = rectPosition.leftBottomPoint;
            const rightBottomPoint = rectPosition.rightBottomPoint;

            const leftTopRectPosition = this.getPointFromGeometry(leftTopPoint.x, leftTopPoint.y, cornerWidth,
                cornerWidth);
            const rightTopRectPosition = this.getPointFromGeometry(rightTopPoint.x, rightTopPoint.y, cornerWidth,
                cornerWidth);
            const rightBottomRectPosition = this.getPointFromGeometry(rightBottomPoint.x, rightBottomPoint.y,
                cornerWidth, cornerWidth);
            const leftBottomRectPosition = this.getPointFromGeometry(leftBottomPoint.x, leftBottomPoint.y,
                cornerWidth, cornerWidth);

            const leftTopRect = [
                leftTopRectPosition.leftTopPoint,
                leftTopRectPosition.rightTopPoint,
                leftTopRectPosition.rightBottomPoint,
                leftTopRectPosition.leftBottomPoint
            ];
            const rightTopRect = [
                rightTopRectPosition.leftTopPoint,
                rightTopRectPosition.rightTopPoint,
                rightTopRectPosition.rightBottomPoint,
                rightTopRectPosition.leftBottomPoint
            ];
            const rightBottomRect = [
                rightBottomRectPosition.leftTopPoint,
                rightBottomRectPosition.rightTopPoint,
                rightBottomRectPosition.rightBottomPoint,
                rightBottomRectPosition.leftBottomPoint
            ];
            const leftBottomRect = [
                leftBottomRectPosition.leftTopPoint,
                leftBottomRectPosition.rightTopPoint,
                leftBottomRectPosition.rightBottomPoint,
                leftBottomRectPosition.leftBottomPoint
            ];

            const rightTopDelRect = [{
                    x: rightTopRectPosition.leftTopPoint.x - 20,
                    y: rightTopRectPosition.leftTopPoint.y,
                },
                {
                    x: rightTopRectPosition.rightTopPoint.x - 20,
                    y: rightTopRectPosition.rightTopPoint.y,
                },
                {
                    x: rightTopRectPosition.rightBottomPoint.x - 20,
                    y: rightTopRectPosition.rightBottomPoint.y,
                },
                {
                    x: rightTopRectPosition.leftBottomPoint.x - 20,
                    y: rightTopRectPosition.leftBottomPoint.y,
                },
            ];

            return [
                [
                    leftTopPoint, rightTopPoint, rightBottomPoint, leftBottomPoint
                ],
                leftTopRect,
                rightTopRect,
                rightBottomRect,
                leftBottomRect,
                rightTopDelRect
            ];
        }
    }
</script>

<script type="text/javascript">
    // 创建画板
    const drawer = new Drawer('#drawer');
    // 创建几何图形
    const rect1 = new DragableAndScalableRect({
        x: 500, // 中心点 x 坐标
        y: 300, // 中心点 y 坐标
        width: 200,
        height: 200,
        minWidth: 20,
        minHeight: 20,
        cornerWidth: 20,
        deleteBtnWidth: 20
    });
    const rect2 = new DragableAndScalableRect({
        x: 300, // 中心点 x 坐标
        y: 300, // 中心点 y 坐标
        width: 200,
        height: 200,
        minWidth: 20,
        minHeight: 20,
        cornerWidth: 20
    });
    drawer.addPolygon(rect1);
    drawer.addPolygon(rect2);
    setTimeout(() => {
        drawer.removePolygon(rect2);
    }, 2000);

    // const rect2 = new DragableAndScalableRect({
    //   x: 100, // 中心点 x 坐标
    //   y: 100, // 中心点 y 坐标
    //   width: 100,
    //   height: 100,
    //   cornerWidth: 10
    // });
    // drawer.addPolygon(rect2);

    window.onresize = () => {
        drawer.onResize();
    }
</script>

</html>